body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.chart-container {
    width: 50%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
    /* background-image: url('../Images/pexels-francesco-ungaro-998641.jpg'); */
    border: 2px solid rgba(0, 0, 0, 0.1); /* Border */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}
canvas {
    max-width: 100%;
    height: auto;
}
.button-container {
    margin-bottom: 20px;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../Images/pexels-francesco-ungaro-998641.jpg"), #000;
    background-position: center;
    background-size: cover;
  }

  button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }